*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.redes{
    position: fixed;
    right: 0;
    top: 420px;
    width: 36px;
}

.header{
    background-image: url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header-content{
    background-color: rgba(255, 102, 0,.8);
    height: 100vh;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.logo{
    background-image: url(/assets/img/nube.png);
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    font-size: 34px;
    padding-left: 35px;
}

.navegation{
    width: 50%;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.header-list-link{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.header-list-link:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
/***************************************************/
#contenedor{
    width: 960px;
    margin: 0 auto;
    /*border: 1px solid;*/
    list-style-position: inside;
}
/***************************************************/

.header-center{
    background-image: url(/assets/img/nube-mensaje.png);
    background-repeat: no-repeat;
    background-position: top center;
    color: #fff;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header-center-title{
    font-size: 3rem;
    letter-spacing: 2px;
}

#mensaje p{
    /* position: relative;
    font-size: 18px;
    top: 170px;
    letter-spacing: 4px; */
}

#mensaje a{
    /* border-radius: 20px;
    position: relative;
    font-size: 14px;
    top: 210px;
    text-decoration: none;
    color: #fff;
    border: 2px solid;
    padding: 10px 30px; */
}

#mensaje a:hover{
    /* background-color: #fff;
    color: #f60; */
}

#principal{
    padding: 20px 0;
}

#principal img{
    width: 50%;
    float: right;
    margin-left: 20px;
}

#principal h1{
    color: #f60;
    background-image: url(/assets/img/nube-naranja.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px;
    margin-bottom: 15px;
}

#principal p{
    font-size: 12px;
    color: #666;
    letter-spacing: 1px;
    line-height: 1.9;
    text-align: justify;
}

#principal hr{
    border: none;
    border: 1px solid #ccc;
    margin: 25px 0;
}

#principal iframe{
    width: 100%;
    height: 250px;
}

#footer{
    background: #ccc;
    text-align: center;
    position: relative;
    padding: 15px 0;
}
#footer p small{
    color: #555;
    font-size: 12px;
}

#footer img{
    padding: 10px 0;
}